section{
	.container{
		.page-header{
			.box-sizing(border-box);
			height: 117px;
			margin: 30px -15px 20px -15px;
			padding-top: 26px;
			border-top: 1px solid #eeeeee;
			background: transparent url('../images/vegas2.png') right top no-repeat;
			// background: transparent url('../images/LVsilhouette-alt.png') right bottom no-repeat;
			@media(max-width: @screen-sm-max){
				background: transparent;
				height: auto;
				padding: 20px 15px;
			}
			@media(max-width: @screen-xs-max){
				// padding: 26px 15px 0;
			}
			h1{
				color: @yellow;
				line-height: 1;
				text-shadow: 0px 0px 20px @bg-dark-green;
			}
		}
		&.interior{
			background: @white-alpha;
			border-radius: 4px;
			margin-top: 0px;
			padding: 20px;
			font-size: 1.3em;
			h3{
				margin-top: 0;
				margin-bottom: 15px;
			}
			.help-field{
				margin-bottom: 0px;
				margin-top: 5px;
			}
			.panel a{
				display: block;
				text-decoration: none;
				font-family: @font-family-base;
			}
			.panel-group{
				margin-top:20px;
			}
			article.post{
				position: relative;
				margin-bottom: 20px;
				.logo{
					width: 200px;
					position: absolute;
					top: 0;
					left: 0;
					text-align: center;
					background: #fff;
					border: 2px solid @yellow;
					.box-sizing(border-box);
					padding: 10px;
					img{
						margin: 0 auto;
					}
				}
				.content{
					padding-left: 220px;
					h4{
						margin-top: 0;
					}
					a.more{
						font-size: 12px;
					}
				}
				@media(max-width: @screen-sm-max){
					.logo{
						display: none;
					}
					.content{
						padding-left: 0;
					}
				}
			}
			#testimonial-subnav{
				h4{
					margin-top: 0;
				}
				a{
					font-size: 14px;
				}
			}
			.form h3{
				color: @red;
			}
		}
	}
}