section .interior-container{
	background: @white-alpha;
	border-radius: 4px;
	margin-top: 0px;
	padding: 20px 20px 0px 20px;	
	.help-field{
		margin-bottom: 0px;
		margin-top: 5px;
	}
	.panel a{
		display: block;
		text-decoration: none;
	}
	.how-can-we-help{
		margin-top: 0;
		margin-bottom: 15px;
	}
	.panel-group{
		margin-top:20px;
	}
}

section .container{
	.page-header{
		margin: 40px -15px 20px -15px;
		h1{
			color: @yellow;
			line-height: 1;
		}
	}
}